.wol-row { margin-bottom: var(--bs-gutter-x); }

.wol-computer > a { display: block; }

#wol-wait {
    z-index: 2;
    opacity: 0.65;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
}

.wol-wait-load::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 50px var(--bs-green);
    border-bottom-color: var(--bs-orange);
    border-radius: 50%;
    content: "";
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}

@keyframes spinner {
    0% { transform: translate3d(-50%, -50%, 0) rotate(0deg); }
    100% { transform: translate3d(-50%, -50%, 0) rotate(360deg); }
}

#wol-ok, #wol-error {
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
}

/*
Copyright 2022 Gobo the Geek

This file is part of "WOL-jquery".

"WOL-jquery" is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"WOL-jquery" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with "WOL-jquery".  If not, see <https://www.gnu.org/licenses/>.
*/